@font-face{
    font-family: 'digital-7';
    src: url('/fonts/Digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face{
    font-family: 'digital-7';
    src: url('/fonts/Digital-7.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.clock {
    font-family: 'digital-7';
    color: red;
    font-size: 100px;
    text-align: center;
}